h1 {
    font-family: serif;
}

.textbox-container {
    padding: 40px;
    margin: 16px 0;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
}

.container {
    margin-inline: 15%;
}


@media (width > 1700px) {
    .occurence-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.graph {
    inline-size: auto;
    padding-inline: 10px;
}