h1 {
  font-family: serif;
}

.link,
.link a:visited,
.link a:link {
  text-decoration: underline;
  font-style: italic;
  color: var(--text-color);
}

a h1,
a:visited h1,
a:link h1 {
  color: var(--text-color);
}

.textbox-container {
  padding: 40px;
  margin: 16px 0;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
}

.container {
  margin-inline: 15%;
}

.wide-container {
  padding: 10px;
  margin-block: 10px;
  margin-inline: 5%;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
}

@media (width > 1700px) {
  .occurrence-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .wide-container {
    padding: 10px;
    margin-block: 10px;
    margin-inline: 15%;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
  }
}

@media (width < 600px) {
  #title {
    font-family: serif;
    font-size: 1rem;
  }
}

.graph {
  inline-size: auto;
  padding-inline: 10px;
}

.manual-link {
  color: black;
  /* font-weight: bold; */
  font-style: italic;
}

.hidden {
  display: none;
}

.conjugation-container {
  margin-inline: 5%;
}

.conjugation-table {
  display: block;
  font-family: SBLHebrew;
  font-size: 2rem;
}
.conjugation-table td {
  direction: rtl;
}
.conjugation-table th {
  text-align: right;
}

@media (width > 2500px) {
  .conjugation-table {
    font-size: 2.9rem;
  }
}

@media (width < 1400px) {
  .conjugation-table {
    font-size: 1rem;
  }
}
